.io {
	width: 70vw;
	background-color: black;
	color: white;
}

input {
	background-color: black;
	color: white;
}

.flex-center {
	display: flex;
	flex-direction: row !important;
	justify-content: center;
}

.fit-center {
	width: fit-content;
	display: flex;
	flex-direction: column !important;
	margin: auto;
}